.bodybg3{
    -fx-background-image: url("../images/woody.jpg") ;
     -fx-background-size: 100% 100%;
}
.bodybg2{
    -fx-background-image: url("../images/farwest.jpg") ;
     -fx-background-size: 100% 100%;
}
.bodybg1{
    -fx-background-image: url("../images/ecran1BG.jpg") ;
     -fx-background-size: 100% 100%;
}

.SupportFarWest{
	-fx-background-image: url("../images/SupportFarWest.png") ;
     -fx-background-size: 100% 100%;
}

.OptionFarWest{
	-fx-background-image: url("../images/optionFarWest.png") ;
     -fx-background-size: 100% 100%;
}